.svg-section svg {
	width: 100%;
	height: auto;
	background-color: #c9c9c9;
	border-radius: .5rem;
	aspect-ratio: 16/9;
}

svg path {
	fill: rgb(124, 124, 124);
	stroke: rgb(0, 0, 0);
	stroke-width: 1px;
}

.svg-section {
    display: flex;
}
.svg-section > div:nth-of-type(2){
	overflow: hidden;
	border-radius: 50%;
	background-color: #c9c9c9;
	box-shadow: rgba(255, 255, 255, 0.4) -4px -4px 8px;
}

.svg-section div {
    position: relative;
    place-self: center;
    max-width: 25em;
}
.svg-section div:nth-child(1) {
    display: grid;
}
.svg-section div div:nth-child(1){
    grid-area: 1/1;
	height: 36vh;
    place-self: center;
    max-width: 25em;
    background-color: #c9c9c9;
    aspect-ratio: 1;
	grid-template-columns: 100% 1fr 100%;
	animation: turnTheGlobe 15s infinite linear;
	transform: translate(-120%);
}
.svg-section div div:nth-child(1) q{
	width: 100%;
	height: fit-content;
	align-self: center;
	color: black;
}
.svg-section div div:nth-child(1) q:not([aria-hidden="true"]) {
	grid-column: 3/4;
	transform: translate(190%);
}
.svg-section div div:nth-child(1) q[aria-hidden="true"] {
	grid-row: 1/2;
	text-align: center;
}

.svg-section div.svg-mask {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
	background: 
		radial-gradient(circle at 40% 40%, rgba(0,0,0,0) 60%,   rgba(1,1,1,0.9) 85%), 
		radial-gradient(circle at 100px 100px, #5cabff00, #000000b7), 
		radial-gradient(circle at 50% 50%, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1) 40%, rgba(0, 0, 0, 0) 50%);
    pointer-events: none;
  }
.svg-section div::-webkit-scrollbar {
    display: none;
}
.svg-section div svg {
    width: auto;
    height: 100%;
    background-color: #c9c9c9;
    border-radius: .5rem;
    aspect-ratio: 23/13;
	grid-column: 2/3;
}

.svg-section svg path {
    fill: rgb(124, 124, 124);
    stroke: rgb(0, 0, 0);
    stroke-width: 1px;
}


@keyframes turnTheGlobe {
	0%{
	transform: translate(0%);
	}

	100% {
	transform: translate(-268%);
	}
}
@media (prefers-reduced-motion: reduce) {
.svg-section div div:nth-child(1){
	animation: none;
	transform: translate(-134%);
}
.svg-section div svg {
    aspect-ratio: 18/13;
}
.svg-section div:nth-child(1) {
	 overflow-x: scroll;
	overflow-y: hidden;
}
.svg-section div div:nth-child(1){
	grid-template-columns: 1fr;
	animation: none;
	transform: translate(0%);
}
.svg-section div svg {
    aspect-ratio: 23/13;
}
.svg-section div div:nth-child(1) q:not([aria-hidden="true"]) {
	display: none;
	grid-column: 3/4;
	transform: translate(190%);
}
.svg-section div div:nth-child(1) q[aria-hidden="true"] {
	grid-row: 1/2;
	text-align: center;
	display: none;
}
}

.button-wrapper {
	display: flex;
	gap: 1rem;
	width: 100%;
	order: 2;
	justify-content: center;
}

.button-wrapper button {
	background-color: hsl(7, 0%, 94%);
	border-radius: .4em;
	color: #111;
	cursor: pointer;
	font-size: 1em;
	max-width: 100%;
	padding: .5em 2em;
	user-select: none;
	-webkit-user-select: none;
	box-shadow: .4rem .2rem hsl(0, 0%, 50%);
	border: none;
	transition: .1s;
}

.button-wrapper button:active,
.button-wrapper button.active {
	background-color: hsl(7, 0%, 78%);
	box-shadow: .05rem .025rem hsl(0, 0%, 100%), 0 0 .5rem hsla(0, 0%, 100%, 1);
	transform: translate(.35rem, .175rem);
	transition: .1s;
}

.button-wrapper button:hover {
	background-color: hsl(7, 0%, 100%);
	transition: .1s;
}

.button-wrapper button.active:hover {
	background-color: hsl(7, 0%, 78%);
}