@media screen and (prefers-color-scheme: dark) {
	html,
	body.loading .loader-wrapper,
	.timeline .timeline_graph-cover {
		background-color: black;
	}

	body.loading .loader {
		fill: #fff;
		background-color: black;
	}

	body.error main > button {
		color: black;
		background-color: #00bfff;
	}

	html,
	#legend-container p {
		color: #fff !important;
	}

	header.timeline {
		background: black;
		color: #fff;
	}

	.timeline .timeline_list::before,
	a.timeline_link::before {
		background-color: #fff;
	}

	a.timeline_link {
		color: #fff;
	}
}
