svg {
    width: 30vw;
    min-width: 25em;
    height: auto;
    /* background-color: #000000; */
    background-color: #c9c9c9;
    border-radius: 10%;
}
svg path {
    fill: rgb(124, 124, 124);
    stroke: rgb(0, 0, 0);
    stroke-width: 1px;
}