/* Sections */

h2 {
	font-size: 2em;
	margin: 0;
}

h3 {
	font-size: 1.5em;
}

:root {
	--box-height: 50vh;
}

.info {
	height: 100%;
	width: 100%;
}

.data-current-year {
	scroll-snap-align: start;
}

.data-current-year>section {
	/*    min-height: 80vh;*/
	min-height: var(--box-height);
	top: calc(100vh - var(--box-height));

	display: grid;
	grid-template-columns: 30vw 1fr 30vw;
}

.data-current-year>section>section {
	min-height: var(--box-height);
	flex: 1;
	display: flex;
	flex-direction: column;
	padding: 1em;
	color: #fff;
	position: sticky;
	grid-gap: 1em;
}

.data-current-year>section {
	background-color: #25b175;
}

.bg-color {
	--theme-color: #ff0000;
	/* fill: var(--theme-color); */
	fill: color-mix(in srgb, var(--theme-color), white 30%);
}

.data-current-year .mc {
	display: flex;
	flex-direction: column;
	grid-gap: 1em;
}

.data-current-year .mc div {
	display: flex;
	flex-direction: column;
	gap: .4em;
}

.data-current-year .mc>div>div {
	width: 4em;
	height: 4em;
	overflow: hidden;
	position: relative;
	border-radius: 0.4rem;
	transition: 200ms;
}

.data-current-year .mc>div:nth-of-type(2) {
	flex-direction: row;
}

.data-current-year .mc a {
	display: block;
	text-decoration: none;
	border-bottom: 1px dotted;
	color: white;
	transition: 200ms;
	width: fit-content;
	order: -1;
}

.data-current-year .mc a:hover {
	background-color: rgba(255, 255, 255, 0.5);
	color: black;
}

.data-current-year .mc img {
	width: 6em;
	aspect-ratio: 1;
	transform-origin: center;
	position: absolute;
	transition: 200ms;
	left: -25%;
	top: -25%;
}

.mc a:hover+div img {
	left: 0;
	top: 0;
}

.mc a:hover+div {
	width: 6em;
	height: 6em;
}

p.color {
	position: absolute;
	right: 0;
	writing-mode: vertical-lr;
	font-size: 3em;
}

.vid-section {
	margin-top: auto;
}

.vid-section h4 {
	margin-bottom: 0.3rem;
}

.video {
	width: 100%;
	height: auto;
}

iframe {
	max-width: 20em;
	width: 100%;
	height: auto;
	aspect-ratio: 16/9;
	max-width: calc((40vh - 22px) * 16 / 9);
	border-radius: 0.4rem;
}

@media screen and (max-width: 1024px) {
	.data-current-year>section {
		display: flex;
		flex-direction: column;
		top: calc(100vh - var(--box-height));
		height: fit-content;
	}

	.chart {
		height: calc(100vh - var(--box-height));
	}

	.data-current-year {
		scroll-margin-top: 0;
	}

	.data-current-year>section>section {
		max-height: 40vh;
	}

	p.color {
		font-size: 4em;
	}

	h2.title svg {
		width: 100%;
		height: auto;
		order: -1;
		filter: invert(100%);
	}
}