body {
    margin: 0px;
    font: 100% Source Code Pro, Inconsolata, Menlo, monospace;
}

h1 {
    font-size: 2em;
    margin: 0em 0em 0.5em 0em;
}

h2 {
    font-size: 1.5em;
}

:root {
    --box-height: 450px;
}

.chart {
    height: calc(100vh - var(--box-height));
    display: block;
    background-color: rgb(255, 255, 255);
    left: 0;
    z-index: 9999;
    width: 100%;
    position: fixed;
    top: 0px;
}

.info {
    height: 100%;
    margin-top: calc(100vh - var(--box-height));
    width: 100%;
}

.data-current-year {
    height: 79vh;
}

.data-current-year section {
    height: 40vh;
    min-height: var(--box-height);
    display: flex;
    flex-direction: row;
    position: sticky;
    top: calc(100vh - var(--box-height));
}

.data-current-year section section {
    height: 40vh;
    min-height: var(--box-height);
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 2em;
    color: #fff;
}

.data-current-year:nth-child(2) section {
    background-color: purple;
}

.data-current-year:nth-child(3) section {
    background-color: green;
}

.bg-color {
    --theme-color: #ff0000;
    /* fill: var(--theme-color); */
    fill: color-mix(in srgb, var(--theme-color), white 30%)
}

svg {
    background-color: #fff;
    border-radius: 2em;
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
}

.avatar {
    width: 200px;
}

h2.color {
    position: absolute;
    top: 18%;
    right: -85px;
    transform: rotate(90deg);
    font-size: 3em;
}

iframe {
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
}

@media screen and (max-width: 1024px) {
    .data-current-year section {
        flex-direction: column;
        top: 40vh;
        height: fit-content;
    }

    .chart {
        height: 40vh;
    }

    .info {
        margin-top: 40vh;
    }

    .data-current-year {
        height: calc(100% + 10em);
    }

    .data-current-year section section {
        max-height: 40vh;
    }

    h2.color {
        position: absolute;
        top: 18%;
        right: -89px;
        transform: rotate(90deg);
        font-size: 4em;
    }
}