/* Reset */
* {
	margin: 0;
	box-sizing: border-box;
}

body {
	height: 500vh;
	/* temporary to get some scroll */
	font-family: system-ui, sans-serif;
}

/* Timeline styling */
.timeline {
	width: 100%;
	position: fixed;
	background: white;
}

.timeline_container {
	position: relative;
	width: 90%;
	margin: 2em auto;
}

.timeline_graph {
	position: relative;
	width: 90vw;
	aspect-ratio: 1/4;
}

.timeline_graph-cover {
	display: none;
}

.timeline_nav {
	width: calc(100% + 2.5rem + 0.25rem);
	margin-left: -0.25rem;
	margin-right: -2.5rem;
	margin-top: 2em;
	min-width: fit-content;
}

.timeline_list {
	position: relative;
	display: flex;
	list-style: none;
	padding: 0;
	min-width: fit-content;
	justify-content: space-between;
}

.timeline_list:before {
	content: '';
	position: absolute;
	display: block;
	top: -1em;
	left: 0;
	width: 100%;
	height: 0.2em;
	background-color: black;
}

.timeline_link {
	display: block;
	color: black;
}

.timeline_link span {
	display: block;
	transform: rotate(30deg);
	padding: 0.5em;	
}

.timeline_link:before {
	position: absolute;
	content: '';
	top: calc(-1em - 0.5em + 0.1em);
	background-color: black;
	width: 1em;
	display: block;
	aspect-ratio: 1/1;
	border-radius: 100%;
}

/* Timeline animation on mobile */
@media screen and (prefers-reduced-motion: no-preference) {
	@supports (animation-timeline: scroll()) {
		.timeline_graph-cover {
			display: block;
			width: 50vw;
			position: fixed;
			right: 0;
			top: 4em;
			background-color: white;
			height: 6em;
		}

		.timeline_graph,
		.timeline_nav {
			transform: translateX(calc(45vw - 8px));
			animation-name: timeline-scroll;
			animation-timeline: scroll();
			animation-timing-function: linear;
		}
	}
}

@keyframes timeline-scroll {
	0% {
		transform: translateX(calc(45vw - 8px));
	}

	100% {
		transform: translateX(calc(-1 * var(--chart-width) + 45vw - 8px));
	}
}

/* Timeline animation on Desktop */
@media screen and (width > 540px) {

	/* Remove mobile animation */
	.timeline_nav,
	.timeline_graph {
		transform: translateX(0);
		animation: none;
	}

	@media screen and (prefers-reduced-motion: no-preference) {
		@supports (animation-timeline: scroll()) {
			.timeline_graph-cover {
				display: block;
				background-color: white;
				position: absolute;
				width: 100%;
				right: 0;
				animation-name: timeline-scroll;
				animation-timeline: scroll();
				animation-timing-function: linear;
				transform-origin: right;
			}
		}
	}

	.timeline_graph-cover {
		width: calc(100% - 8px);
		position: absolute;
		top: 2em;
		height: calc(100% - 2em);
	}

	@keyframes timeline-scroll {
		0% {
			width: calc(100% - 8px);
		}

		100% {
			width: 0%;
		}
	}
}