@import url('./reset.css');
@import url('./error.css');
@import url('./chart.css');
@import url('./countries.css');
@import url('./sections.css');

body {
	font-family: Source Code Pro, Inconsolata, Menlo, monospace;
	timeline-scope: --section-1;
}

main {
	scroll-snap-type: y mandatory;
	height: 50vh;
	overflow: auto;
	scroll-timeline: --section-1 y;
	margin-top: calc(100vh - var(--box-height));
	scroll-behavior: smooth;
	position: relative;
	z-index: 99;
}

header {
	overflow-x: auto;
	overflow-y: hidden;
}

/* The hide class */
.visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}
h1 {
	position: absolute;
}

/* h2 */
h2.title {
	display: grid;
	grid-template-columns: 5em 3em;
}
h2.title svg {
	width: auto;
	height: 100px;
	order: -1;
	filter: invert(100%);
}
.rotate {
	writing-mode: vertical-lr;
}
.extra {
	font-size: 1.7rem;
	grid-column: 1/3;
}
/* Timeline styling */
.timeline {
	display: block;
	width: 100%;
	height: calc(100vh - var(--box-height));
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9;
	background: white;
}

.timeline_container {
	position: relative;
	width: min(90%, calc(4 * (100vh - var(--box-height) - 8em)));
	margin: 2em auto;
}

.timeline_graph {
	position: relative;
	width: 90vw;
	aspect-ratio: 1/4;
}

.timeline_graph-cover {
	display: none;
	background-color: white;
}

.timeline_nav {
	width: calc(100% + 2.5rem + 0.25rem);
	margin-left: -0.25rem;
	margin-right: -2.5rem;
	margin-top: 2em;
	min-width: fit-content;
}

.timeline_list {
	position: relative;
	display: flex;
	list-style: none;
	padding: 0;
	min-width: fit-content;
	justify-content: space-between;
}

.timeline_list:before {
	content: '';
	position: absolute;
	display: block;
	top: -1em;
	left: 0;
	width: 100%;
	height: 0.2em;
	background-color: black;
}

.timeline_link {
	display: block;
	color: black;
}

.timeline_link span {
	display: block;
	transform: rotate(30deg);
	padding: 0.5em;
}

.timeline_link:before {
	position: absolute;
	content: '';
	top: calc(-1em - 0.5em + 0.1em);
	background-color: black;
	width: 1em;
	display: block;
	aspect-ratio: 1/1;
	border-radius: 100%;
}

/* Timeline animation on mobile */
@media screen and (prefers-reduced-motion: no-preference) {
	@supports (animation-timeline: scroll()) {
		header {
			overflow-x: visible;
		}

		.timeline_graph-cover {
			display: block;
			width: 50vw;
			position: fixed;
			right: 0;
			top: 0;
			height: 50vh;
		}

		.timeline_graph,
		.timeline_nav {
			transform: translateX(calc(45vw - 8px));
			animation-name: timeline-scroll;
			animation-timeline: scroll();
			animation-timing-function: linear;
			animation-timeline: --section-1;
			animation-fill-mode: both;
		}
	}
}

@keyframes timeline-scroll {
	0% {
		transform: translateX(calc(45vw - 8px));
	}

	100% {
		transform: translateX(calc(-1 * var(--chart-width) + 45vw - 8px));
	}
}

/* Timeline animation on Desktop */
@media screen and (width > 540px) {
	/* Remove mobile animation */
	.timeline_nav,
	.timeline_graph {
		transform: translateX(0);
		animation: none;
	}

	@media screen and (prefers-reduced-motion: no-preference) {
		@supports (animation-timeline: scroll()) {
			.timeline_graph-cover {
				display: block;
				position: absolute;
				width: 100%;
				right: 0;
				animation-name: timeline-scroll;
				animation-timing-function: linear;
				transform-origin: right;
				animation-timeline: --section-1;
				animation-fill-mode: both;
			}
		}
	}

	.timeline_graph-cover {
		width: calc(100% - 8px);
		position: absolute;
		top: 0;
		height: calc(100% - 2em);
	}

	@keyframes timeline-scroll {
		0% {
			width: calc(100% - 8px);
		}

		100% {
			width: 0%;
		}
	}
}

/* Loader */

.loader-wrapper {
	display: none;
	height: 100dvh;
	width: 100%;
	place-items: center;
	background-color: white;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	opacity: 0;
	transition: opacity 1s, transform 1s;
	transform: scale(1.2);
	animation: displayNone 1s linear;
}

@keyframes displayNone {
	0% {
		display: grid;
	}

	99% {
		display: grid;
	}

	100% {
		display: none;
	}
}

.loading .loader-wrapper {
	animation: none;
	height: 100dvh;
	width: 100%;
	display: grid;
	place-items: center;
	background-color: white;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	opacity: 1;
	transform: scale(1);
	transition: none;
}

.loader {
	animation: 1s 4s scale infinite alternate;
	background-color: white;
	width: 36em;
	max-width: 80vw;
}

@keyframes scale {
	0% {
		transform: scale(1);
		opacity: 1;
	}

	100% {
		transform: scale(1.05);
		opacity: 0.7;
	}
}

.loader rect {
	opacity: 0;
	animation-fill-mode: forwards;
}

.to-right {
	animation-name: moveToRight, opacity;
	animation-duration: 1s;
}

@keyframes moveToRight {
	0% {
		transform: translateX(-100vw);
	}

	100% {
		transform: translateX(0);
	}
}

.to-left {
	animation-name: moveToLeft, opacity;
	animation-duration: 1s;
}

@keyframes moveToLeft {
	0% {
		transform: translateX(100vw);
	}

	100% {
		transform: translateX(0);
	}
}

.to-bottom {
	animation-name: moveToBottom, opacity;
	animation-duration: 1s;
}

@keyframes moveToBottom {
	0% {
		transform: translateY(-100vw);
	}

	100% {
		transform: translateY(0);
	}
}

.to-top {
	animation-name: moveToTop, opacity;
	animation-duration: 1s;
}

@keyframes moveToTop {
	0% {
		transform: translateY(100vw);
	}

	100% {
		transform: translateY(0);
	}
}

@keyframes opacity {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.loader :nth-child(1) :nth-child(1) {
	animation-delay: 0.5s;
}

.loader :nth-child(1) :nth-child(2) {
	animation-delay: 0.7s;
}

.loader :nth-child(1) :nth-child(3) {
	animation-delay: 0.6s;
}

.loader :nth-child(2) :nth-child(1) {
	animation-delay: 0s;
}

.loader :nth-child(2) :nth-child(2) {
	animation-delay: 0.1s;
}

.loader :nth-child(2) :nth-child(3) {
	animation-delay: 0.2s;
}

.loader :nth-child(2) :nth-child(4) {
	animation-delay: 0.3s;
}

.loader :nth-child(2) :nth-child(5) {
	animation-delay: 0.4s;
}

.loader :nth-child(3) :nth-child(1) {
	animation-delay: 0.9s;
}

.loader :nth-child(3) :nth-child(2) {
	animation-delay: 1s;
}

.loader :nth-child(3) :nth-child(3) {
	animation-delay: 1.1s;
}

.loader :nth-child(3) :nth-child(4) {
	animation-delay: 1.2s;
}

.loader :nth-child(3) :nth-child(5) {
	animation-delay: 0.8s;
}

.loader :nth-child(4) :nth-child(1) {
	animation-delay: 1.4s;
}

.loader :nth-child(4) :nth-child(2) {
	animation-delay: 1.3s;
}

.loader :nth-child(4) :nth-child(3) {
	animation-delay: 1.5s;
}

.loader :nth-child(4) :nth-child(4) {
	animation-delay: 1.6s;
}

.loader :nth-child(5) :nth-child(1) {
	animation-delay: 1.7s;
}

.loader :nth-child(5) :nth-child(2) {
	animation-delay: 2s;
}

.loader :nth-child(5) :nth-child(3) {
	animation-delay: 1.9s;
}

.loader :nth-child(5) :nth-child(4) {
	animation-delay: 1.8s;
}

.loader :nth-child(6) :nth-child(1) {
	animation-delay: 2.1s;
}

.loader :nth-child(6) :nth-child(2) {
	animation-delay: 2.4s;
}

.loader :nth-child(6) :nth-child(3) {
	animation-delay: 2.2s;
}

.loader :nth-child(6) :nth-child(4) {
	animation-delay: 2.3s;
}

/* Fireworks */

:nth-of-type(1) {--index: 1}
:nth-of-type(2) {--index: 2}
:nth-of-type(3) {--index: 3}
:nth-of-type(4) {--index: 4}
:nth-of-type(5) {--index: 5}
:nth-of-type(6) {--index: 6}
:nth-of-type(7) {--index: 7}
:nth-of-type(8) {--index: 8}
:nth-of-type(9) {--index: 9}
:nth-of-type(10) {--index: 10}
:nth-of-type(11) {--index: 11}
:nth-of-type(12) {--index: 12}
:nth-of-type(13) {--index: 13}
:nth-of-type(14) {--index: 14}
:nth-of-type(15) {--index: 15}
:nth-of-type(16) {--index: 16}
:nth-of-type(17) {--index: 17}
:nth-of-type(18) {--index: 18}
:nth-of-type(19) {--index: 19}
:nth-of-type(20) {--index: 20}
:nth-of-type(21) {--index: 21}
:nth-of-type(22) {--index: 22}
:nth-of-type(23) {--index: 23}
:nth-of-type(24) {--index: 24}
:nth-of-type(25) {--index: 25}
:nth-of-type(26) {--index: 26}
:nth-of-type(27) {--index: 27}
:nth-of-type(28) {--index: 28}
:nth-of-type(29) {--index: 29}
:nth-of-type(30) {--index: 30}
:nth-of-type(31) {--index: 31}
:nth-of-type(32) {--index: 32}

:root {
	--firework-element-color: red;
}

.fireworks {
	display: none;
	pointer-events: none;
}

.fireworks.show {
	display: block;
}

.firework {
	list-style: none;
	padding: 0;
	margin: 0;
	display: grid;
	place-items: center;
	width: 20em;
	aspect-ratio: 1;
	position: fixed;
	bottom: 0;
	right: calc(15vw * var(--index) - 5em);
	animation: firework 2s linear;
	animation-delay: calc(.2s * var(--index) - .2s);
	z-index: 100;
	animation-fill-mode: both;
}

@keyframes firework {
	0% {
		transform: translateY(11em) rotate(0);
	}

	50% {
		transform: translateY(calc(-30vh - 2em * var(--index))) rotate(0);
	}

	100% {
		transform: translateY(calc(-30vh - 2em * var(--index))) rotate(calc(20deg * var(--index)));
	}
}

.firework:before {
	position: absolute;
	content: '';
	background-color: white;
	width: 1em;
	aspect-ratio: 1/1;
	border-radius: 100%;
	animation: initialDot 2s linear;
	z-index: 3;
	animation-fill-mode: both;
	animation-delay: inherit;
}

@keyframes initialDot {
	0% {
		opacity: 1;
	}

	50% {
		opacity: 1;
	}

	60% {
		opacity: 0;
	}

	100% {
		opacity: 0;
	}
}

.firework li {
	grid-area: 1 / 1;
	transform: rotate(calc(360deg / 32 * var(--index))) translateY(0);
	animation-fill-mode: both;
	animation-timing-function: linear;
	animation-duration: 2s;
	animation-delay: inherit;
}

.firework li:nth-child(4n) {
	width: .5em;
	aspect-ratio: 1/1;
	background-color: var(--firework-element-color);
	display: block;
	border-radius: 100%;
	animation-name: sphere;
}

.firework li:nth-child(4n + 1),
.firework li:nth-child(4n + 3) {
	width: .3em;
	height: 6em;
	background-color: var(--firework-element-color);
	display: block;
	border-radius: .5em;
	animation-name: spoke;
}

.firework li:nth-child(4n + 2) {
	position: relative;
	width: .7em;
	aspect-ratio: 1/1;
	animation-name: sphere;
}

.firework li:nth-child(4n + 2):before,
.firework li:nth-child(4n + 2):after {
	position: absolute;
	content: '';
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: var(--firework-element-color);
}

.firework li:nth-child(4n + 2):after {
	transform: rotate(45deg);
}

@keyframes sphere {
	50% {
		transform: rotate(calc(360deg / 32 * var(--index))) translateY(0em);
		opacity: 1;
	}

	65% {
		transform: rotate(calc(360deg / 32 * var(--index))) translateY(8em);
		opacity: 1;
	}

	100% {
		transform: rotate(calc(360deg / 32 * var(--index))) translateY(10em);
		opacity: 0;
	}
}

@keyframes spoke {
	0% {
		transform: rotate(calc(360deg / 32 * var(--index))) translateY(0em) scale(0);
		opacity: 1;
	}

	50% {
		transform: rotate(calc(360deg / 32 * var(--index))) translateY(0em) scaleY(0);
		opacity: 1;
	}

	70% {
		transform: rotate(calc(360deg / 32 * var(--index))) translateY(8em) scaleY(1);
		opacity: 1;
	}

	100% {
		transform: rotate(calc(360deg / 32 * var(--index))) translateY(10em) scaleY(0);
		opacity: 0;
	}
}

.firework li:nth-child(10n) {
	--firework-element-color: peru;
}

.firework li:nth-child(10n + 1) {
	--firework-element-color: darkorchid;
}

.firework li:nth-child(10n + 2) {
	--firework-element-color: mediumseagreen;
}

.firework li:nth-child(10n + 3) {
	--firework-element-color: deepskyblue;
}

.firework li:nth-child(10n + 4) {
	--firework-element-color: tomato;
}

.firework li:nth-child(10n + 5) {
	--firework-element-color: goldenrod;
}

.firework li:nth-child(10n + 6) {
	--firework-element-color: hotpink;
}

.firework li:nth-child(10n + 7) {
	--firework-element-color: olivedrab;
}

.firework li:nth-child(10n + 8) {
	--firework-element-color: navy;
}

.firework li:nth-child(10n + 9) {
	--firework-element-color: red;
}

